<div class="text-center p-5 w-50 container mt-5">
    <h2>Transaction History</h2>
    <table class="w-100 bg-dark p-5 mt-4" style="color:yellow">
        <thead class="bg-secondary">
            <tr class="text-white">
                <th>Type</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody *ngFor="let i of transactionData">
            <tr>
                <td>{{i.Type}}</td>
                <td>{{i.amount}}</td>
            </tr>
        </tbody>
    </table>
</div> 
